.calculate__container
  .body__content  
    .body__col.left 
      include ../pug/inputWeight.pug
      include ../pug/inputCourier.pug
      include ../pug/inputSum.pug
    .body__col.right
      include ../pug/inputMore.pug
    div.body__out
      p.out__text 