.calculate__container
  // Здорово что почитал и сделал используя pug. Но в таком маленьком шаблоне делить его на части и потом импортировать - избыточно, только затрудняет чтение кода.
  .body__content  
    .body__col.left 
      include ../pug/inputWeight.pug
      include ../pug/inputCourier.pug
      include ../pug/inputSum.pug
    .body__col.right
      include ../pug/inputMore.pug
    div.body__out
      p.out__text 