.left__inputs
    p.inputs__title 2. Оформим курьерскую доставку до двери получателя?
    .inputs__body
        div
            label 
                input.body__input.input(type="radio" name="courier" value="500")
                span.input__text Да
        div    
            label 
                input.body__input.input(type="radio" name="courier")
                span.input__text Нет