.left__inputs
    p.inputs__title 3. Хотите застраховать посылку?
    .inputs__body
        div
            label 
                input.body__input.input(type="radio" name="sum")
                span.input__text Да, на сумму
        div    
            label 
                input.body__input.input(type="radio" name="sum")
                span.input__text Нет
        .input-sum
            input.sum_input(type="number")
            span ₽
                
