.left__inputs
    p.inputs__title 2. Оформим курьерскую доставку до двери получателя?
    .inputs__body
        div
            label 
                input.body__input.courier__input_active.input(type="radio" name="courier" value="100" )
                span.input__text Да
        div    
            label 
                input.body__input.input(type="radio" name="courier" value = '0' )
                span.input__text Нет