.left__inputs
    p.inputs__title 3. Хотите застраховать посылку?
    .inputs__body
        div
            input.body__input.input(type="radio" name="sum" value="yes")
            label.body__label Да, на сумму
        div    
            input.body__input.input(type="radio" name="sum" value="no")
            label.body__label Нет
        .input-sum
            input(type="number")
            span
                img(src="../assets/item.png")
