.left__inputs
    p.inputs__title 1. Какой вес у вашей посылки?
    .inputs__body
        div    
            label 
                input.body__input.input.weight__input_active(type="radio" name="weight" value="5")
                span.input__text До 5 кг
        div
            label 
                input.body__input.weight__input_active.input(type="radio" name="weight" value="10")
                span.input__text От 5 до 10 кг
        .input-pice
            input.pice_input( type="number" readonly value = '2')
            span части
