.left__inputs
    p.inputs__title 2. Оформим курьерскую доставку до двери получателя?
    .inputs__body
        div
            input.body__input.input(type="radio" name="courier" value="yes")
            label.body__label Да
        div    
            input.body__input.input(type="radio" name="courier" value="no")
            label.body__label Нет