.left__inputs
    p.inputs__title 1. Какой вес у вашей посылки?
    .inputs__body
        div    
            input.body__input.input(type="radio" name="weight" value="5")
            label.body__label До 5 кг
        div
            input.body__input.input(type="radio" name="weight" value="10")
            label.body__label От 5 до 10 кг
        .input-pice
            input(type="number")
            span части
