.right {
  flex: 0 0 25%;
  height: 23em;
  // .right__content
  &__content {
    &_hidden {
      display: none;
      // transition: 1s;
    }
    &_active {
      margin: 2.3em 0 0 1em;
      transform: translate(0.5%, 3.7%);
    }
    background: #ffffff;
    border: 1px solid #bcbcb7;
    border-radius: 1em;
    padding: 1.3em 1em;
    margin: 1em 0 2.6em 0;
    display: flex;
    flex-direction: column;
  }

  // .right__body
  &__body {
    margin: 3.7em 0 2.1em 0;
  }
  // .right__text
  &__text {
    font-weight: 600;
    &:first-child {
      color: #ff7f00;
      margin-bottom: 0.2em;
    }
  }
  // .right__input
  &__input {
    &:nth-child(3) {
      margin-bottom: 0.8em;
    }
  }
}
